

body {
 background-color: #e3dac9;
 font-family: Arial, Helvetica, sans-serif;
 padding: 20px;
}

h2 {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

.admin-link {
  color: #b22dc1;
  font-size: small;
  text-decoration: none;
  float: right;
  }
  
.posts {
   display: flex;
   flex-direction: column;
   column-gap: 50px;

}

.line {
width: 90%;
height: 1px;
background-color: black;
opacity: 20%;
margin-top: 10px;
margin-bottom: 10px;
}

.title {
font-weight: bold;
}




/* POST-side */

#post-wrapper {
  margin: 50px 10%;
}

h3 {
  font-size: 2rem;
}

#post-author {
  font-weight: bold;
}